﻿@model ProgrammingBlog.Models.BlogCategoryModel

@foreach (var item in Model.MVC)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogHeading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogTags)
        </td>
    </tr>
}
