﻿@model ProgrammingBlog.Models.BlogModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogHeading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogHeading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogTags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTags)
        </dd>
        <dd>
            <img src="@Model.ImagePath" width="250"/>
        </dd>
        <dd>
            @Html.ActionLink(Model.Category.CategoryTitle, "SpecificCategory", new { category = Model.Category.CategoryTitle })
        </dd>

        <dd>
            @Html.ActionLink(Model.Users.UserName, "Details", "Author", new { id = Model.Users.Id}, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
