﻿@model ProgrammingBlog.Models.BlogCategoryModel

@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h2>Index</h2>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Model.Blog.FirstOrDefault().ImagePath" alt="">
            <div class="carousel-caption">
                <h3>@Model.Blog.FirstOrDefault().BlogHeading</h3>
            </div>
        </div>

        @for (int i = 1; i <= 4; i++)
        {
            <div class="item">
                <img src="@Model.Blog[i].ImagePath" alt="">
                <div class="carousel-caption">
                    <h3>@Model.Blog[i].BlogHeading</h3>
                </div>
            </div>
        }

    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br /> <br /> <br />
<br /> <br /> <br />
<br /> <br /> <br />

<div class="row">

        <div class="col-lg-4">
            <img src="@Model.CSharp[0].ImagePath" alt="Card image cap" width="250">
            <div>
                <h5>@Model.CSharp[0].BlogHeading</h5>
                <p>@Model.CSharp[0].BlogPost</p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                @for (int i = 1; i <= 4; i++)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.ActionLink(Model.CSharp[i].BlogHeading, "Details", new { id = Model.CSharp[i].BlogID })</li>
                    </ul>
                }
            </div>
        </div>

    <div class="col-lg-4">
        <img class="" src="@Model.CSS[0].ImagePath" alt="Card image cap" width="250">
        <div class="">
            <h5 class="">@Model.CSS[0].BlogHeading</h5>
            <p class="">@Model.CSS[0].BlogPost</p>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <!--List of  blog posts go here -->
            @for (int i = 1; i <= 4; i++)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.ActionLink(Model.CSS[i].BlogHeading, "Details", new { id = Model.CSS[i].BlogID })</li>
                </ul>
            }
        </div>
    </div>
</div>

<div class="row">
 
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top" src="@Model.MVC[0].ImagePath" alt="Card image cap" width="250">
            <div class="card-body">
                <h5 class="card-title">@Model.MVC[0].BlogHeading</h5>
                <p class="card-text">@Model.MVC[0].BlogPost</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <!-- List of blog posts go here -->
            @for (int i = 1; i <= 4; i++)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.ActionLink(Model.MVC[i].BlogHeading, "Details", new { id = Model.MVC[i].BlogID })</li>
                </ul>
            }
        </div>
    </div>


    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top" src="@Model.Javascript[0].ImagePath" alt="Card image cap" width="250">
            <div class="card-body">
                <h5 class="card-title">@Model.Javascript[0].BlogHeading</h5>
                <p class="card-text">@Model.Javascript[0].BlogPost</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <!-- List of blog posts go here -->
            @for (int i = 1; i <= 4; i++)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.ActionLink(Model.Javascript[i].BlogHeading, "Details", new { id = Model.Javascript[i].BlogID })</li>
                </ul>
            }
        </div>
    </div>
</div>
