﻿@model ProgrammingBlog.Models.BlogCategoryModel

@{
    ViewBag.Title = "Javascript Posts";
}

<h2>Javascript Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-lg-9">
        <img src="@Model.Javascript[0].ImagePath" alt="Card image cap" width="450">
        <div>
            <h5>@Model.Javascript[0].BlogHeading</h5>
            <p>@Model.Javascript[0].BlogPost</p>
            <p>@Model.Javascript[0].Users.UserName</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            @for (int i = 1; i <= 4; i++)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.ActionLink(Model.Javascript[i].BlogHeading, "Details", new { id = Model.Javascript[i].BlogID })</li>
                </ul>
            }
        </div>
    </div>
</div>

<hr />

<table class="table">
    <tr>
        <th>
            <h1> Heading </h1>
        </th>
        <th>
            <h1>Posts</h1>
        </th>
        <th>
            <h1> Tags </h1>
        </th>
    </tr>
    @Html.Partial("_JavascriptPostsPartial", Model)
</table>