﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("C# Posts", "CSharpBlogPosts", "Blog")</li>
    <li>@Html.ActionLink("Javascript Posts", "JavascriptBlogPosts", "Blog")</li>
    <li>@Html.ActionLink("CSS Posts", "CssBlogPosts", "Blog")</li>
    <li>@Html.ActionLink("MVC ASP.NET Posts", "MVCBlogPosts", "Blog")</li>
    <li>
        @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("C# Posts", "CSharpBlogPosts", "Blog")</li>
        <li>@Html.ActionLink("Javascript Posts", "JavascriptBlogPosts", "Blog")</li>
        <li>@Html.ActionLink("CSS Posts", "CssBlogPosts", "Blog")</li>
        <li>@Html.ActionLink("MVC ASP.NET Posts", "MVCBlogPosts", "Blog")</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    </ul>
}
