﻿@model List<ProgrammingBlog.Models.BlogModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-lg-9">
        <div>
            <h1>@Model[0].Users.UserName</h1>
            <p>Author Name: @Model[0].Users.Name @Model[0].Users.Surname</p>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            <h3>Heading</h3>
        </th>
        <th>
            <h3>Post</h3>
        </th>
        <th>
            <h3>Tags</h3>
        </th>
        <th>
            <h3>Posted on</h3>
        </th>
        <th>
            <h3>Image</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.BlogHeading, "Details", "Blog", new { Id = item.BlogID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogTags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTime)
        </td>
        <td>
            <img src="@item.ImagePath" width="250"/>
        </td>
    </tr>
}

</table>
